
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
}
@section js{
    <script src="~/views/Usuario/Index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
}


<div class="container">
    <div class="col-12" style="margin-top:20px;">
        <div class="shadow p-3 mb-5 bg-white rounded"><h4>Cadastrar Usuário</h4></div>
        <div class="col-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nome</label>
                        <input type="text" class="form-control" id="txtNome" placeholder="Insira o nome">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Senha</label>
                        <input type="password" class="form-control" id="txtSenha" placeholder="Insira a senha">
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-12">
                        <label>Confirmação de Senha</label>
                        <input type="password" class="form-control" id="txtConfSenha" placeholder="Confirme a Senha">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <button type="button" class="btn btn-primary" style="background-color:#212529;border-color:#212529;" onclick="index.btnCadastrar();">Cadastrar</button>
                        <a data-fancybox data-type="iframe" data-src="IndexObterPerfis" href="javascript:;">
                            Pesquisar
                        </a>
                        @*<button type="button" class="btn btn-primary" style="background-color:#212529;border-color:#212529;" onclick="">Pesquisar</button>*@
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group" col-6>
                        <label>Perfil: </label>
                        <input type="hidden" id="hIdPerfil" value="0" />
                        <div id="divPerfilNome">

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div id="divMsg"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>