
@{
    ViewData["Title"] = "Catalogo";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section js{
    <script src="~/views/Produtos/Index.js"></script>
 }
    <div class="container">
        <div class="form-row">
            <div id="cardCatalogo">
               
            </div>
        </div>
    </div>

